* {
  font-family: Barlow;
  font-style: normal;
}

.card-body h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000099;
}
.card-body p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bbest-cards-detalhes-produto {
  margin-top: 197px;
  min-height: 739px;
  height: 100%;
  width: 100%;
  background: #dfeaf2;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 290px;
}

.content .card {
  width: 277px !important;
  height: 308px;
  padding: 35px 20px;
  background: #ffffff;
  border: 1px solid #dfeaf2;
  box-sizing: border-box;
  box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);
  border-radius: 20px;
  margin-right: 19px;
}

.content .card .card-img-top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content .card .card-body {
  padding: 0px;
  padding-top: 20px;
  overflow: hidden;
}

.content .card .card-body p {
  color: #0066ff;
}

.bbest-container-cards-detalhes {
  margin-top: -118px;
  width: 100%;
  position: absolute;
}

.content-card-extra {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around !important;
  margin-left: 33px;
}

.card-extra-4 {
  width: 380px !important;
  height: 198px !important;
  margin-right: 33px;
  margin-bottom: 33px;
  padding: 25px;
  background: #ffffff;
  border: 1px solid #dfeaf2;
  box-sizing: border-box;
  box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);
  border-radius: 20px;
  display: flex !important;
}

.card-extra-4 .card-img-top {
  width: 66px;
  display: flex;
  justify-content: start;
}

.card-extra-4 .card-img-top img {
  width: 66px;
  height: 66px;
}

.card-extra-4 .card-body {
  padding: 21px;
  padding-top: 0px;
}

.card-extra-4 .card-body p {
  color: #0066ff;
}

@media (max-width: 767.98px) {
  .card-body h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
  .bbest-slick-arrows {
    top: 209px;
  }

  .bbest-cards-detalhes-produto {
    margin-top: 120px;
  }

  .bbest-cards-detalhes-produto .content .card .card-img-top {
    justify-content: flex-start !important;
  }
  .card-extra-4 {
    width: 300px !important;
    height: 158px !important;
    padding: 17px;
  }
  .card-extra-4 .card-img-top {
    width: 66px;
    display: flex;
    justify-content: start;
  }
  .card-extra-4 .card-img-top img {
    width: 66px;
    height: 66px;
  }
  .card-extra-4 .card-body {
    padding: 0px;
    padding-top: 0px;
    padding-left: 15px;
  }
  .card-extra-4 .card-body h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .card-extra-4 .card-body p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 991.98px) {
  .bbest-cards-detalhes-produto {
    min-height: 533px;
  }
  .bbest-slick-arrows {
    top: 218px;
  }
}

@media (max-width: 1199.98px) {
  .bbest-cards-detalhes-produto .bbest-container-cards-detalhes .container {
    max-width: calc(100% - 1px);
  }
  .bbest-cards-detalhes-produto {
    min-height: 669px;
  }
  .bbest-slick-arrows {
    bottom: 25px;
  }
}

@media (max-width: 1400.98px) {
  .bbest-cards-detalhes-produto .content .card {
    width: 253px !important;
    height: 252px;
    padding: 20px;
  }
  .bbest-cards-detalhes-produto .content .card .card-img-top {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bbest-cards-detalhes-produto .content .card .card-body {
    padding: 0px;
    padding-top: 13px;
  }
  .bbest-cards-detalhes-produto .content .card .card-body h5 {
    font-size: 20px;
    line-height: 24px;
  }
  .bbest-cards-detalhes-produto .content .card .card-body .card-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .bbest-content-abrir-conta-produto
    .content
    .bbest-cta-group
    .bbest-abrir-conta-app {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 29px;
  }
  .bbest-content-abrir-conta-produto
    .content
    .bbest-cta-group
    .bbest-descaregar-app {
    padding: 20px 45px;
  }
  .bbest-cards-detalhes-produto {
    min-height: 700px;
  }

  .bbest-cards-detalhes-produto .content {
    margin-top: 50px;
  }
}